VITE_SUPABASE_URL=supabaseUrl                                                                                                             
VITE_SUPABASE_ANON_KEY=supabaseKey  
VITE_GEMINI_API_KEY=geminikey  