@import "tailwindcss";

:root {
    --color-surface: #353535;
}

@theme {
    --color-result: #D9D9D9;
}

@layer base {

    html,
    body,
    #root,
    .page {
        @apply m-0 p-0 min-w-full min-h-full w-full h-full;
    }

    button {
        @apply cursor-pointer
    }
}